.App {
  text-align: center;
  /* background-color: lightgray; */
}

.search_group {
  position: relative;
  width: 300px;
  padding: 10px;
}
.search_img {
  position: absolute;
  pointer-events: none;
  width: 20px; 
  padding: 8px;
}
.search_field {
  border: none;
  border-radius: 5px 5px 0 0 ;
  border-bottom: 1px solid black;
  padding: 10px  10px 10px 35px;
  width: 270px;
  height: 20px;
  outline: none;
}
.search_field:active{
  border: none;
  /* border-bottom: 1px solid black; */
}

.select_list {
  background-color: white;
  width: 315px;
  border-radius: 0 0 5px 5px ;
}
.table_list {
  height: 100px;
  overflow: hidden;
  height: 180px;
}

.user_icon{
  width: 35px; 
  height: 35px; 
}

.user_title {
  margin: 1px;
  font-size: small;
  /* font-weight: bold; */
}

.user_text {
  margin: 1px;
  font-size: x-small;
  opacity: 0.5;

}
.user_table_row {
  text-align: left;
  list-style: none;
  display: flex;
  padding: 2px 10px;
}
.user_table_row:hover{
  background-color: whitesmoke;
}

.div_user_icon {
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
}

.user_name{
  padding: 5px;
}

.icon_div{
  padding: 5px;
}

.marquee {
  display: block;
  width: 100%;
  white-space: nowrap;
  /* overflow: hidden; */
  font-weight: bold;
  font-size: xx-large;
}

.marquee span {
  display: inline-block;
  /* white-space: nowrap;  */
  /* text-overflow:clip; */
  padding-left: 100%;
  -webkit-animation: scroll 90s infinite linear;
  -moz-animation: scroll 90s infinite linear;
  animation: scroll 90s infinite linear;
}


@-webkit-keyframes scroll {
  0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }
  100% {
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0)
  }
}

@-moz-keyframes scroll {
  0% {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0);
  }
  100% {
      -moz-transform: translate(-100%, 0);
      transform: translate(-100%, 0)
  }
}

@keyframes scroll {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0)
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
