.App {
  background-color: lightgray;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.search_group {
  position: relative;
  width: 300px;
  padding: 10px;
}

.input_field {
  display: flex;
  justify-content: left;
  border-radius: 5px 5px 0 0 ;
  border-bottom: 1px solid black;
  background-color: white;
}

.input_field img {
  width: 20px; 
  padding: 8px;
}

.input_field input {
  border: none;
  outline: none;
  width: 80%;
}

.search_field:active{
  border: none;
}
